<div class="transition">
    <div class="transition-row row-1">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
    </div>
    <div class="transition-row row-2">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
    </div>
  </div>  
<ng-container *ngIf="user.loggedIn$ | async">
  <app-navbar></app-navbar>
</ng-container>
<router-outlet></router-outlet>
